{
	admin off
}

http://localhost:8080 {
	encode gzip
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	handle /api/* {
		reverse_proxy api:8000
	}
	handle {
		reverse_proxy chat:3000
	}
}

http://localhost:8081 {
	encode gzip
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	handle /api/* {
		reverse_proxy api:8000
	}
	handle {
		reverse_proxy admin:3001
	}
}
